<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="LibraryService_Binding">
                <security mode="None" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint name="LibraryService_EndPoint"
                      binding="wsHttpBinding"
                      bindingConfiguration="LibraryService_Binding" 
                      contract="LibraryServiceSolution.ILibraryService" />
        </client>
    </system.serviceModel>
</configuration>